* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 18px;
  margin-bottom: 18px;
  text-align: center;
  color: #ffffff;
  font-size: 26px;
  font-weight: bold;
  background: linear-gradient(to right, #6c6cff, #000080);
}

.title {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
}

#current {
  background-color: #9fcfff;
  color: #ffffff;
  padding: 10px;
}

#forecast {
  margin-top: 5px;
}

.card {
  margin-top: 5px;
  background-color: #000080;
  color: #ffffff;
  border-radius: 10px;
}
input {
  font-size: 18px;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 3px;
}

.btn {
  color: #ffffff;
  text-align: center;
  background-color: #000080;
  font-size: 18px;
  border-radius: 5px;
  padding: 5px;
}

.btn:hover {
  background-color: #6c6cff;
}

.savedCityBtn {
  background-color: #d3d3d3;
  color: #000000;
  font-size: 18px;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 3px;
}

.storedBtn:hover {
  background-color: #000080;
  color: #ffffff;
  text-align: center;
}

.low {
  background-color: #7aeb7a;
  padding: 2px 20px;
  border-radius: 10%;
}

.moderate {
 background-color: #ffd500;
 color: #000000;
 padding: 2px 20px;
 border-radius: 10%;
}

.severe {
  background-color: #cc0000;
  padding: 6px;
  border-radius: 10%;
}